@model IEnumerable<UsersListingServiceModel>

@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>
<hr />

<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td><a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">@user.Name</a></td>
            <td>
                <a asp-action="ResetPassword" asp-route-id="@user.Id" class="btn btn-danger btn-group-sm">Reset Password</a>
                <a asp-action="MakeAdmin" asp-route-id="@user.Id" class="btn btn-primary btn-group-sm">Make Admin</a>
            </td>
        </tr>
    }
</table>


