@model IEnumerable<ListAdsServiceModel>
@{
    ViewData["Title"] = "AdsByCategory";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                @foreach (var ad in Model)
                {
                    <div class="card col-md-4 thumbnail">
                        <img class="card-image-top img-responsive"
                             src="@ad.ImageUrl">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <a asp-area="" asp-controller="Ads" asp-action="Details" asp-route-id="@ad.Id">@ad.Title</a>
                            </h4>
                            <p class="card-text text-center">Published On: @ad.PublishDate.ToShortDateString()</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text text-center">
                            @foreach (var tag in ad.Tags)
                            {
                                <a asp-area="" asp-controller="Tags" asp-action="AdsByTag" asp-route-id="@tag.Id">@tag.Name </a>
                            }
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>