@model AdsViewModel
@{
    ViewData["Title"] = "AdsByCategory";
}


<h1>You are in Category - @Model.Name</h1>

<br />
<div class="row">
    <div class="col-md-push-5 col-md-2">
        <ul class="pagination">
            <li class="page-item @(Model.PreviosPage == Model.CurrentPage ? "disabled" : string.Empty)">
                <a asp-route-page="@Model.PreviosPage">Previous</a>
            </li>
            <li class="page-item @(Model.NextPage == Model.CurrentPage ? "disabled" : string.Empty)">
                <a asp-route-page="@Model.NextPage">Next</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                @Html.Partial("_AdsViewPartial", Model.Ads)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-push-5 col-md-2">
        <ul class="pagination">
            <li class="page-item @(Model.PreviosPage == Model.CurrentPage ? "disabled" : string.Empty)">
                <a asp-route-page="@Model.PreviosPage">Previous</a>
            </li>
            <li class="page-item @(Model.NextPage == Model.CurrentPage ? "disabled" : string.Empty)">
                <a asp-route-page="@Model.NextPage">Next</a>
            </li>
        </ul>
    </div>
</div>